/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Legend styles */
.legend {
  font-size: 1.1rem;
}

/* Form styles */
form input,
form textarea {
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #2563eb; /* Tailwind's blue-500 */
}

/* Social icon styles */
.social-icon {
  transition: color 0.3s ease;
}

/* Remove default carousel arrows */
.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  display: none;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .h-screen {
    height: 100vh;
  }

  .lg\\:w-1\\/3 {
    width: 100% !important;
  }

  .lg\\:w-2\\/3 {
    width: 100% !important;
  }

  .lg\\:flex-row {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .h-60 {
    height: 40vh; /* Adjust the height for smaller screens */
  }

  .carousel .carousel .slide img {
    height: 40vh; /* Ensure the images scale properly */
  }

  /* Remove margin between slider and form on mobile screens */
  .lg\\:mb-0 {
    margin-bottom: 0 !important;
  }

  .lg\\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.popup-error,
.popup-success {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 8px;
  background-color: #f8d7da; /* Error background color */
  color: #721c24; /* Error text color */
  z-index: 1000;
}

.popup-success {
  background-color: #d4edda; /* Success background color */
  color: #155724; /* Success text color */
}

.success-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.success-animation svg {
  animation: tick-animation 1s ease-in-out;
}

@keyframes tick-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
